body{background-color: yellow;}

h1{
	font-size: 30px;
	color: blueviolet;
}


h2{color: whitesmoke;}

h2{
	color: green;
}

.Big{font-size: 60px;}

.uppercase{
	text-transform: uppercase;
}

.Big.uppercase{color: navy;}

h1 span{color: violet;}